.u-section-1 .u-sheet-1 {
  min-height: 2944px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: auto;
  }
}