.u-section-1 {
  min-height: 275px;
}

.u-section-1 .u-image-1 {
  height: 275px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.5);
}.u-section-2 .u-sheet-1 {
  min-height: 270px;
}

.u-section-2 .u-text-1 {
  width: 414px;
  margin: 49px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-2 .u-text-1 {
    width: 404px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-2 .u-text-1 {
    width: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 32px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 334px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 179px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/bgm_about.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 411px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  width: 696px;
  margin: 124px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 308px;
  min-width: 148px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-text-2 {
  width: 527px;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 85px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 33px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    height: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 35px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: 48px 0 58px;
  }
}