.u-section-1 {
  min-height: 988px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/df17finalwebsite-171107211807-thumbnail-41.jpg");
  min-height: 403px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 422px;
  height: 422px;
  background-image: url("images/IMG_20190915_1309111.jpg");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 667px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  width: 527px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 993px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -271px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 28px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 20px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 529px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 137px 30px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 135px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 34px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 572px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 92px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 113px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 5.625rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/bgm_about.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 411px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  width: 696px;
  margin: 124px auto 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 308px;
  min-width: 148px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-text-2 {
  width: 527px;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    height: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 42px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 51px 0 58px;
  }
}